*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #FFF;
    background: #ebf2f5;
}

body, input, button, textarea {
    /* Carrega essa fonte, se não qualquer uma em sans-serif */
    font: 600 18px Nunito, sans-serif;
}